@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  body {
    @apply relative h-full min-w-[375px] antialiased leading-tight bg-violet-50 dark:bg-zinc text-black dark:text-white transition-colors duration-300;
  }

  /* XL */
  h1 {
    @apply text-xl font-bold;
  }

  /* L */
  h2 {
    @apply text-lg font-bold;
  }

  /* M */
  h3 {
    @apply font-bold text-md;
  }

  /* S */
  h4 {
    @apply text-sm font-bold tracking-[2.4px];
  }

  textarea {
    @apply resize-none h-28;
  }

  input,
  textarea {
    @apply text-body-lg px-4 py-2 rounded-md dark:bg-gunmetal-800 border hover:border-violet-700 dark:disabled:bg-zinc dark:disabled:text-white/25 w-full;
  }
}

@layer components {
  .btn {
    @apply px-[1.125rem] md:px-6 font-bold rounded-full cursor-pointer;
  }

  /* sizes */
  .rg {
    @apply py-2.5;
  }

  .lg {
    @apply py-2.5 md:py-4;
  }

  .wide {
    @apply w-full;
  }

  /* variant/color */
  .primary {
    @apply text-white bg-violet-700 hover:bg-violet-400 transition;
  }

  .secondary {
    @apply text-violet-700 bg-violet-700/10 dark:bg-white hover:bg-violet-700/25 dark:hover:bg-indigo transition;
  }

  .delete {
    @apply text-white bg-red-600 hover:bg-red-400 transition;
  }

  .disabled {
    @apply opacity-25 cursor-not-allowed;
  }

  .no-bg {
    @apply px-0 bg-transparent text-violet-700 hover:text-violet-400 transition;
  }
}

.text-body-md {
  font-weight: bold;
}

// theme switcher styling
.theme-label:before {
  content: '';
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  @apply absolute bg-white top-0.5 left-0.5 w-3.5 h-3.5 rounded-full;
}

.checkbox {
  @apply bg-violet-700;
}

.checkbox:checked {
  & + .theme-label {
    @apply bg-violet-700 hover:bg-violet-400 transition border-violet-700;

    &:before {
      animation-name: switch;
      animation-duration: 350ms;
      animation-fill-mode: forwards;
      @apply bg-white;
    }

    &:after {
      transition-delay: 350ms;
      @apply opacity-100;
    }
  }
}

@keyframes reverse {
  0% {
    left: 22px;
    width: 14px;
  }
  60% {
    left: 16px;
    width: 20px;
  }
  100% {
    left: 2px;
  }
}

@keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    left: 16px;
    width: 20px;
  }
  100% {
    left: 22px;
    width: 14px;
  }
}
